@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Hind+Vadodara:wght@300&family=Noto+Serif&family=Patua+One&family=Varta:wght@300&family=Yantramanav&display=swap');

body{
    padding: 10px;
    background-image: linear-gradient( #e7e9f0 50%, #fefefe 50%);
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: 30px;
}

h2{
    color: #465474;
    font-family: 'Chewy', cursive;
}

.information{
    background-color: white;
    padding: 20px;
    box-shadow:0px 0px 20px #d4d6dd;
}
.about-system {
    font-family: 'Varta', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: black;
}