<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/details.css">
</head>

<body>
    <div class="demo">
        <h2 class="text-center"> Voice Biometric Attendance System</h2>
    </div>
    <div class="container mt-5 information">
        <h5> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;How to Use System </h5>
        <ul class="mt-4">

               <b>Registration Process:</b><br>
                1).	Once signing in into the system, admin has option to <b>Add User</b>.<br>
                2).	Admin has to fill the registration form which includes folowing information about user:<br>
                &emsp;&emsp;•	First Name , Last name , Phone number , Email , Password, Date of birth<br>
                   
                &emsp;&emsp;•	Address,  City, State, Latitude, Longitude, Pin code<br> 
                
                   3).	After clicking on submit , user is successfully added.<br>
                   <b>Login Process:</b><br>
			1). If you are here for the first time, click on "Register voice sample" , else click on "Geo Location".<br>
			2).Now you will be redirected to a page where you have to submit 3 voice samples .<br>
            3). When you click on <b>Geo Location</b> option , browser will automatically detect the latitude and longitude .<br>
            4).Click <b>'next'</b> and speak the number clearly provided by the system.
             <br><b>Note: </b>Once the system recognizes user, you will be automatically directed to the dashboard.<br>
          </p>

        </ul>

        <h5 class="mt-5">&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;About System </h5>
        <div class="about-system mt-4">
          <ul>

            Cadence is a software specially developed for taking attendance through voice recognition.
              This web based software will work with GPS system/Geo-location system for its authenticity .
              It will work for all the officers working in Nehru Yuva Krida Sangathan at different districts and states.
              Candence provide user friendly and easy to understand platform to the user which will make the daily
              attendence system simple but efficient.

        </ul>
        </div>
           
    </div>
</body>

</html>