<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="dashboard.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
  
<div class="wrapper">
  <div class="sidebar">
    <div class="bg_shadow"></div>
    <div class="sidebar_inner">
      <div class="close m-2">
        <i class="fas fa-times"></i>
      </div>

      <ul class="siderbar_menu mx-2">
          <div ><h5 class="text-white text-center my-5"> Admin  </h5></div>

          <!-- Create User Button -->
        <div class="Button-user text-center mt-5"> <a link='#' > Create  User </a> </div>

          <!-- Delete User Button -->
        <div class="Button-user text-center mt-5"> <a link='#' > Delete  User </a> </div>   
        
        
      </ul>

    </div>
  </div>
  <div class="main_container">
    <div class="navbar">
      <div class="hamburger">
        <i class="fas fa-bars"></i>
      </div>
      <div class="logo">
            <img src="https://2.bp.blogspot.com/-A3aCL6_CaRU/XN1BPYfeUNI/AAAAAAAAAm0/QCmNCzFQAGEds4lKlPHFB0bVXUv-OTD0wCLcBGAs/s1600/NYKS.jpg"
            alt="logo" width="65" height="45"></a>
      </div>
    </div>
    <div class="content">
     <h5> Voice Recognization Attendance System</h5>
    </div>
  </div>
 
</div>
  

<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<!-- Custom Js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(".siderbar_menu li").click(function () {
        $(".siderbar_menu li").removeClass("active");
        $(this).addClass("active");
      });
      
      $(".hamburger").click(function () {
        $(".wrapper").addClass("active");
      });
      
      $(".close, .bg_shadow").click(function () {
        $(".wrapper").removeClass("active");
      });
</script>

</body>
</html>