<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/details.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light color-primary">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarNavAltMarkup">
                <div class="navbar-nav m-auto cont-rubik ">
                    <a class="nav-item nav-link mx-4" href="/">Login</a>
                </div>
            </div>
        </nav>
    <div class="demo">
        <h2 class="text-center"> Voice Biometric Attendance System</h2>
    </div>
    <div class="container mt-5 information">
        <h5> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;How to Use System </h5>
        <ul class="mt-4">

               <b>To use Registration with Cadence:</b><br>
                1).	On the Login page, click the  <b>“ I’m new here” </b> option at the left bottom of the page. And you will be directed to the ‘Registration’ page. <br>
                2).	Once you are on the ‘Registration’ page enter the information carefully, which includes:<br>
                &emsp;&emsp;•	First Name , Last name , Phone number , Email , Post, Date of birth<br>
                   &emsp;&emsp;Click next and enter the information:<br>
                &emsp;&emsp;•	Address, Landmark, City, State, Latitude, Longitude, Pin code<br>
                &emsp;&emsp;Click next :<br>
                &emsp;&emsp;•	Select a profile picture <br>
                   3).	Click on the button  <b>‘click here to record first voice sample’ </b>in the same way , record the three samples. <br><b>Note: </b>You will be directed to the login page after submitting samples.<br>
                   <br>
                   <b>To use Login with Cadence:</b><br>
            1). Select your method of attendance.If you select <b>geolocation</b> the system will atomatically fetch users location.<br>
            2).Click <b>'next'</b> and speak the number clearly provided by the system.
             <br><b>Note: </b>Once the system recognises user, you will be automatically directed to the dashboard.<br>
          </p>

        </ul>

        <h5 class="mt-5">&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;About System </h5>
        <div class="about-system mt-4">
          <ul>

            Cadence is a software specially developed for taking attendance through voice recognition.
              This web based software will work with GPS system/Geo-location system for its authenticity .
              It will work for all the officers working in Nehru Yuva Krida Sangathan at different districts and states.
              Candence provide user friendly and easy to understand platform to the user which will make the daily
              attendence system simple but efficient.

        </ul>
        </div>

    </div>
</body>

</html>
