<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/details.css">
</head>

<body>
    <div class="demo">
        <h2 class="text-center"> Voice Biometric Attendance System</h2>
    </div>
    <div class="container mt-5 information">
        <h5> How to Use System </h5>
        <ul class="mt-4">
            <li>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum aut laborum, quia odit sit ullam
                    perspiciatis eum eaque illo unde distinctio sapiente doloremque deleniti voluptatibus repellendus,
                    non saepe vitae optio.</p>
            </li>
            <li>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate laboriosam id neque doloribus
                    quo quod nisi in ducimus natus et, dolor fugiat soluta, saepe totam porro autem illum explicabo
                    necessitatibus.</p>
            </li>
            <li>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate laboriosam id neque doloribus
                    quo quod nisi in ducimus natus et, dolor fugiat soluta, saepe totam porro autem illum explicabo
                    necessitatibus.</p>
            </li>
            <li>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate laboriosam id neque doloribus
                    quo quod nisi in ducimus natus et, dolor fugiat soluta, saepe totam porro autem illum explicabo
                    necessitatibus.</p>
            </li>

        </ul>

        <h5 class="mt-5"> About System </h5>
        <div class="about-system mt-4">
          
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia laudantium possimus tempora doloribus at rem impedit. 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quo accusamus possimus soluta eaque minus doloribus esse
                consequuntur numquam, vel expedita nobis nesciunt ex a modi odio accusantium, nam quibusdam. Porro, earum dolores et 
                dignissimos unde culpa blanditiis assumenda quaerat aspernatur ipsam, animi deserunt
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus illo maiores minima ipsum repellat optio, eligendi
                voluptates aspernatur dignissimos obcaecati blanditiis pariatur autem veritatis quo odio qui. Ducimus, ipsum ad?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea libero veritatis sit animi sunt cupiditate obcaecati tempora, 
                similique hic voluptatem, ullam mollitia laborum iusto veniam eum, alias est accusantium eveniet!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores quas nostrum explicabo facere, necessitatibus praesentium, 
                nam corrupti labore alias cupiditate, tempora maiores iste eaque. Commodi nemo aut quaerat unde doloremque!
        
        </div>
           
    </div>
</body>

</html>