{% extends "layout.html" %}
{% block body %}
    <!-- Primary Navigation -->

  </header>
  <!-- Header Ends -->

<!-- Main Section Starts -->
<main>

    <div class="container">
        <section id="formHolder">
                <h5 class=" my-4 ">
                    Voice Biometric Attendance System
                </h5>
                <!-- Form Box -->
                <div class=" form">

                    <!-- Login Form -->
                    <div class="login form-peice ">
                        <form class="login-form" action="#">

                            <!-- <div class="row"> -->
                                <div class="logincls">
                                    <div class="wizard card-lik" style="position: relative;">

                                        <form action="#">

                                            <div class="wizard-headr">
                                                <div class="row">
                                                    <div class="col-sm-12 pt-2">
                                                        <h4 class="mb-4">Sign in</h4>
                                                    </div>

                                                    <div class="col-sm-12">

                                                        <div class="stps text-center">
                                                            <div class="wizard-stp activ">
                                                                <i class="fa fa-location-arrow"></i></div>
                                                            <!-- <div class="wizard-stp"><i class="fa fa-phone-square" aria-hidden="true"></i></div> -->
                                                            <div class="wizard-stp"><i class="fa fa-microphone"
                                                                    aria-hidden="true"></i> </div>
                                                            <hr>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="wizard-bdy">

                                                <div class="stp initl activ ">

                                                    <!-- login step 1 code here -->
                                                    <ul style="list-style-type:none; margin: none;" id="locationcard">

                                                        <li id="locmethod">
                                                            <h6 class="text-center">Please Select Your Location Method</h6>
                                                            <div class="row  text-center" style=" margin: 40px 0px;">

                                                                <div class="col-lg-4 col-sm-12 mt-2 center ">
                                                                    
                                                                    <div class="border hvr-grow" id="geo" >
                                                                        <img class="img-fluid"
                                                                        src="/static/img/gps.png" alt="" width="50px" height="50px">
                                                                        <p>Geolocation</p>
                                                                    </div>

                                                                    <!-- <div class="card rounded pt-3 btn-outline-primary"
                                                                         id="geo">
                                                                        <div>
                                                                            <img class="img-fluid"
                                                                                src="/static/img/gps.png" alt="" width="50px" height="50px">
                                                                        </div>
                                                                        <div class="card-body">
                                                                            <p class="card-text">Geolocation</p>
                                                                        </div>
                                                                    </div> -->

                                                                </div>

                                                                <div class="col-lg-4 col-sm-12 mt-2">
                                                                        <h6> OR </h6>
                                                                </div>

                                                                <div class="col-lg-4 col-sm-12 center">
                                                                    <div class="border hvr-grow" id="mcard" >
                                                                        <img class="img-fluid"
                                                                        src="/static/img/landline.png" width="50px" height="50px">
                                                                        <p>Landline</p>
                                                                    </div>
                                                                   
                                                                    <!-- <div class="card rounded pt-3 btn-outline-primary" 
                                                                         id="mcard">
                                                                        <div>
                                                                            <img class="img-fluid"
                                                                                src="/static/img/landline.png" width="50px" height="50px">
                                                                        </div>
                                                                        <div class="card-body">
                                                                            <p class="card-text">Landline</p>
                                                                        </div>
                                                                    </div> -->
                                                                </div>

                                                            </div>


                                                        </li>
                                                        <li style="display: none;" id="locani">
                                                            <center>
                                                                <div><img id="locaniimg" src="/static/img/loca1.gif"
                                                                        style="width: 100px;" alt="" /></div>
                                                            </center><br>
                                                            <h5 id="loc-msg">Getting Your Location</h5>
                                                            <h6 id="loc-per" style="color: crimson;">Please allow to the
                                                                permission popup</h6>

                                                        </li>

                                                        <li style="display: none;">
                                                            <h5 id="gps" class="alert alert-warning "></h5>
                                                        </li>

                                                        <li style="display: none;">
                                                            <h5>You Selected Landline Method</h5>
                                                            <br>
                                                            <p>Call to <b> 07265-777777 </b></p>
                                                            <p>Your Verification code is <b>23654</b></p>
                                                        </li>
                                                    </ul>





                                                </div>

                                                <!-- <div class="stp"> -->

                                                <!-- login step 2 code here -->
                                                <!-- <h4>Do You Want To Do Landline Verification</h4>
                                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                    <button id="bt">Click</button>
                                                    <p id="para">This is paragraph</p> -->
                                                <!-- <label class="form-check-label" for="exampleCheck1">Check me out</label> -->
                                                <!-- </div> -->

                                                <div class="stp">

                                                    <!-- login step 3 code here -->
                                                    <div class="form-group">
                                                        <ul style="list-style-type:none; margin: none;">
                                                            <li id="text">
                                                                <h4>Recording Starting in</h4>

                                                                <h2><b><span id="timer"></span></b></h2>

                                                            </li>
                                                            
                                                            <li id="rec-ani" style="display: none;">
                                                                <h6>Read the below number</h6>
                                                                <mark><h5>{{ t }}</h5></mark>
                                                                <blink><span
                                                                        style="height: 15px;width: 15px;background-color: crimson;border-radius: 50%;display: inline-block;">
                                                                    </span>
                                                                    <h5 style="color: crimson; display: inline-block;">
                                                                        Recording</h5>
                                                                </blink>
                                                                <br>
                                                                <div id="aud"><img src="/static/img/audio.gif" alt=""
                                                                        style="width: 250px; height: 70px;"></div>

                                                            </li>
                                                            <li style="display: none;" id="recog">
                                                                <img src="/static/img/recog.gif" id="loganiimg" alt="" style="width: 100px; height: 100px;">
                                                                <blink>
                                                                    <h4 style="color: forestgreen;" id="bly">Recognizing Your Voice</h4>
                                                                    
                                                                </blink>
                                                                <h6 id="loma" style="color: crimson;"></h6>
                                                            </li>
                                                            

                                                        </ul>

                                                        <!-- <div id="formats">Format: start recording to see sample rate</div> -->
                                                        <!-- <p><strong>Recordings:</strong></p> -->
                                                        <!-- <button class="btn btn-success"><ol id="recordingsList"></ol></button> -->

                                                    </div>

                                                </div>

                                            </div>
                                          
                                            <div class="wizard-footer ">
                                                <div class="row  float-right">
                                                    <div class="col-xs-6 pull-right text-center ">
                                                        <button id="wizard-nxt" type="button" class="btn btn-irv "
                                                            onclick="Record_btn()" disabled> Next
                                                        </button>

                                                        <div class="col-xs-6 pull-right block-center">
                                                            <a href="/dashboard"> <button id="wizard-sub" style="display:none"
                                                                    type="button" on class="btn btn-irv" disabled>
                                                                    Login
                                                                </button></a>
                                                        </div>
                                                        <a href="#" class="problem">Report a Problem</a>
                                                    </div>
                                                </div>
                                                   
                                                    <div class="row ">
                                                    <div class="CTA my-2 mx-4">
                                                        <a href="/register" class="switch" id="im-new">I'm new here</a>
                                                    </div>
                                                  </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            <!-- </div> -->

                        </form>
                    </div>
                    <!-- End Login Form -->

                </div>
             <!-- Form Box -->

        </section>
    </div>

</main>
<!-- Main Section Ends -->
    
<!-- Footer Starts  -->
   
{% endblock %}