<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/Login.css">

    <link rel="stylesheet" href="/static/css/regi.css">
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/style.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,600" rel="stylesheet">

</head>

<body>

    <!-- Start header -->
    <header id="header">
        <div class=" px-4 py-3 ">
            <a href="https://nyks.nic.in/" class="logo"> <img
                    src="https://2.bp.blogspot.com/-A3aCL6_CaRU/XN1BPYfeUNI/AAAAAAAAAm0/QCmNCzFQAGEds4lKlPHFB0bVXUv-OTD0wCLcBGAs/s1600/NYKS.jpg"
                    alt="logo" width="70px" height="45px"></a>
        </div>

        <!-- Primary Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light color-primary">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarNavAltMarkup">
                <div class="navbar-nav m-auto cont-rubik ">
                    <a class="nav-item nav-link mx-4" href="/">Login</a>
                    <a class="nav-item nav-link  mx-4" href="/readme">Read Me</a>
                    <a class="nav-item nav-link  mx-4" href="/report">Report</a>
                </div>
            </div>
        </nav>
        <!-- Primary Navigation -->

    </header>
    <!-- Header Ends -->

    <!-- Main Section  -->
    <main>

        <div class="container">
            <h5 class=" my-4"> Voice-Biometric Attendance System </h5>
            <div class="signup mt-4 p-5">
                <form id="regForm" action="/first" method="POST" autocomplete="off" name="registration">
                    <h4 class="text-left mb-4">Voice Model Registration</h4>
                    <!-- Circles which indicates the steps of the form: -->
                    <div class="text-center ">
                        <div class="step active m-2"><i class="fa fa-user"></i></div>
                        <div class="step m-2"><i class="fa fa-microphone" aria-hidden="true"></i></div>
                        <hr style="   border-color: #465474; border-top-width: 2px;">
                    </div>

                    <!-- One "tab" for each step in the form: -->
                    <div class="tab mb-3">
                        <!-- <p><input placeholder="First name..." oninput="this.className = ''" name="fname"></p>
              <p><input placeholder="Last name..." oninput="this.className = ''" name="lname"></p> -->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-step1">
                                    <label for="inp" class="inp">
                                        <input type="text" id="register-firstname" placeholder="&nbsp;"
                                            oninput="this.className = ''" name="first-email">
                                        <span class="label">Email Id</span>
                                        <span class="focus-bg"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-step1">
                                    <label for="inp" class="inp">
                                        <input type="password" id="inp" placeholder="&nbsp;" oninput="this.className = ''"
                                            name="first-password">
                                        <span class="label">Password</span>
                                        <span class="focus-bg"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                       

                    </div>

                    <div class="tab">

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <ul>
                                        <li id="rb1">
                                            <button class="btn btn-irv" id="rbb1">Click Here To Record First Voice
                                                Sample</button>
                                        </li>
                                        <li id="rt1" style="display: none;">
                                            <h4>Recording Starting in <b><span id="timer"></span></b></h4>
                                        </li>
                                        <li id="rn1" style="display: none;">
                                            <h4>Read The Number {{ t1 }}</h4>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <ul>
                                        <li id="rbl1" style="display: none;">
                                            <blink><span
                                                    style="height: 15px;width: 15px;background-color: crimson;border-radius: 50%;display: inline-block;">
                                                </span>
                                                <h5 style="color: crimson; display: inline-block;">
                                                    Recording</h5>
                                            </blink>
                                        </li>
                                        <li id="rv1">
                                            <img id="rti1" src="/static/img/tick.png" width="30px" alt=""
                                                style="display: none;">
                                            <img id="rr1" src="/static/img/retry.png" width="40px" alt=""
                                                style="display: none;">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <ul>
                                        <li id="rb2">
                                            <button class="btn btn-irv" id="rbb2" disabled>Click Here To Record Second
                                                Voice
                                                Sample</button>
                                        </li>
                                        <li id="rt2" style="display: none;">
                                            <h4>Recording Starting in <b><span id="timer2"></span></b></h4>
                                        </li>
                                        <li id="rn2" style="display: none;">
                                            <h4>Read The Number {{ t2 }}</h4>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <ul>
                                        <li id="rbl2" style="display: none;">
                                            <blink><span
                                                    style="height: 15px;width: 15px;background-color: crimson;border-radius: 50%;display: inline-block;">
                                                </span>
                                                <h5 style="color: crimson; display: inline-block;">
                                                    Recording</h5>
                                            </blink>
                                        </li>
                                        <li id="rv2">
                                            <img id="rti2" src="/static/img/tick.png" width="30px" alt=""
                                                style="display: none;">

                                            <img id="rr2" src="/static/img/retry.png" width="40px" alt=""
                                                style="display: none;">
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <ul>
                                        <li id="rb3">
                                            <button class="btn btn-irv" id="rbb3" disabled>Click Here To Record Third
                                                Voice
                                                Sample</button>
                                        </li>
                                        <li id="rt3" style="display: none;">
                                            <h4>Recording Starting in <b><span id="timer3"></span></b></h4>
                                        </li>
                                        <li id="rn3" style="display: none;">
                                            <h4>Read The Number {{ t3 }}</h4>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <ul>
                                        <li id="rbl3" style="display: none;">
                                            <blink><span
                                                    style="height: 15px;width: 15px;background-color: crimson;border-radius: 50%;display: inline-block;">
                                                </span>
                                                <h5 style="color: crimson; display: inline-block;">
                                                    Recording</h5>
                                            </blink>
                                        </li>
                                        <li id="rv3">
                                            <img id="rti3" src="/static/img/tick.png" width="30px" alt=""
                                                style="display: none;">

                                            <img id="rr3" src="/static/img/retry.png" width="40px" alt=""
                                                style="display: none;">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div style="overflow:auto;">
                        <div style="float:right;">
                            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                            <button type="button" id="nextBtn" class="nxt-reg" onclick="nextPrev(1)">Next</button>
                            <button type="submit" id="subBtn" class="sub-reg" onclick="nextPrev2(1)" style="display: none;">Submit</button>
                            <a href="/model"><button type="button" id="regBtn" style="display: none;" >Register</button></a>
                        </div>
                    </div> 

                </form>

            </div>
        </div>

    </main>
    <!-- Main Section -->


    <!-- Footer Starts  -->
    <footer class="mt-4">
        <div class="color-primary py-4 ">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-12 offset-lg-2">
                        <h5>About System </h5>
                        <p class="py-2">Lorem ipsum dolor adipisicing elit. Ducimus quia minima repellendus quisquam
                            animi
                            officiis loream ipsum explicabo. Dolore provident minima sunt tempore alias, commodi
                            pariatur... <a href="/readme"> Read More</a> </p>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-3 col-12 py-2">
                        <h5>Team </h5>
                        <div class="d-flex flex-column flex-wrap text-dark " style="font-size: 12px;">
                            <a href="https://www.linkedin.com/in/hriday-raj-700154148/    "> Hriday Raj</a>
                            <a href="https://www.linkedin.com/in/mujahid-ahmed-sayyed-036450193/">Mujahid Ahmed </a>
                            <a href="https://www.linkedin.com/in/manjiree-kolte-8aa10116b/">Manjiree Kolte</a>
                            <a href="https://www.linkedin.com/in/devshri-pohare-052125173/">Devshri Pohre</a>
                            <a href="https://www.linkedin.com/in/abhishek-moharir-06b356170/">Abhishek Moharir</a>
                            <a href="https://www.linkedin.com/in/abhishek-d-688707118/">Abhishek Daberao</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="color-secondary ">
            <div class="container text-center text-white p-3">
                <p>&copy; Copyright 2020, All rights reserved</p>
            </div>
        </div>
    </footer>
    <!-- Footer Ends -->







    <!-- FOnt Awesome -->
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <!-- Jquery CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <!-- Bootstrap  -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <!-- Custom js -->
    <script src="/static/js/regi.js"></script>
    <script src="/static/js/recorder.js"></script>
    <script src="/static/js/register_process.js"></script>




</body>

</html>