<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Google Fonts CDN -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,600" rel="stylesheet">
    <!-- Custom Css Files -->
    <link rel="stylesheet" href="/static/css/register.css">

</head>

<body>

    <!-- Main Section  -->
    <main>

        <div class="container">
            <h5 class=" my-4"> Voice-Biometric Attendance System </h5>
            <div class="signup mt-4 p-5">

                <form id="regForm" action="/add_user" method="POST" autocomplete="off" name="registration">
                    <h4 class="text-left mb-4">Registration</h4>
                    <!-- Circles which indicates the steps of the form: -->
                    <div class="text-center ">
                        <div class="step active m-2"><i class="fa fa-user"></i></div>
                        <div class="step m-2"><i class="fa fa-paper-plane" aria-hidden="true"></i></div>
                        <div class="step m-2"><i class="fa fa-microphone" aria-hidden="true"></i></div>
                        <hr style="   border-color: #465474; border-top-width: 2px;">
                    </div>

                    <!-- One "tab" for each step in the form: -->
                    <div class="tab mb-3">
                      
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-step1">
                                    <label for="inp" class="inp">
                                        <input type="text" id="register-fullname" placeholder="&nbsp;"
                                            oninput="this.className = ''" name="register-fullname">
                                        <span class="label">Full Name</span>
                                        <span class="focus-bg"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-step1">
                                    <label for="inp" class="inp">
                                        <input type="text" id="inp" placeholder="&nbsp;" oninput="this.className = ''"
                                            name="register-email">
                                        <span class="label">E-mail Id</span>
                                        <span class="focus-bg"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-step1">
                                    <label for="inp" class="inp">
                                        <input type="text" id="inp" placeholder="&nbsp;" oninput="this.className = ''"
                                            name="register-phone">
                                        <span class="label">Phone Number</span>
                                        <span class="focus-bg"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-step1">
                                    <label for="inp" class="inp">
                                        <input type="date" id="inp" placeholder="&nbsp;" name="register-dob"
                                            oninput="this.className = ''">
                                        <span class="label">Date Of Birth</span>
                                        <span class="focus-bg"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-step1">
                                    <label for="inp" class="inp">
                                        <input type="text" id="inp" placeholder="&nbsp;" oninput="this.className = ''"
                                            name="register-city">
                                        <span class="label">City</span>
                                        <span class="focus-bg"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-step1">
                                    <label for="inp" class="inp">
                                        <input type="text" id="inp" placeholder="&nbsp;" oninput="this.className = ''"
                                            name="register-state">
                                        <span class="label">State</span>
                                        <span class="focus-bg"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="inp" class="inp">
                                        <span>Upload Your Photo</span>
                                        <input type="file" id="inp" placeholder="&nbsp;" name="register-image"
                                            accept="image/*" required>
                                        <span class="focus-bg"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>
                                        <span>Enter Longi/Lati</span>
                                        <div class="Button10-style"> <a link='#'> Click to calculate </a> </div>
                                      
                                    </label>
                                </div>
                            </div>
                     

                        </div>

                    </div>

                    <div class="tab">
                    </div>
                    <div class="tab">
                    </div>

                    <div style="overflow:auto;">
                        <div style="float:right;">
                            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                            <button type="button" id="nextBtn" class="nxt-reg" onclick="nextPrev(1)">Next</button>
                            <button type="submit" id="subBtn" class="sub-reg" onclick="nextPrev2(1)" style="display: none;">Submit</button>
                            <button type="button" id="regBtn" style="display: none;">Register</button>
                        </div>
                    </div> 

                </form>
            </div>

        </div>
    </main>
    <!-- Main Section -->





    <!-- FOnt Awesome -->
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <!-- Jquery CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <!-- Bootstrap  -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <!-- Custom js -->
    <script src="/static/js/register.js"></script>

</body>

</html>